html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-style: italic;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5948);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3072, #ff5948);
}

.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
}

.primary-title {
  font-size: 90px;
  background-color: #fe3072;
}

/* Home Page */

.overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("images/bg.jpeg");
}

/* Onboarding Page */
