html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  text-align: center;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, #fe3072, #ff5948);
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.primary-button:hover {
  background: linear-gradient(260deg, #fe3072, #ff5948);
}

/* Home Page */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
}
